@import "theme.less";
@import "menu.less";
@import "content.less";

body{
    position:absolute;
    text-align:center;
    background:@bodyBG;
    #headerPane{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index:100;
        font:caption;
        height:40px;
        background:@headerBG;
        color:@headerText;
        border-bottom:1px solid black;
        &>div{
            width:100%;
            .menuButtonContainer{
                position:absolute;
                text-align:left;
                width:5%;
                height:90%;
                &>#menuPane{
                    position:relative;
                    color:@headerText;
                    left:3px;
                    top:3px;
                    &:before{
                        color:@headerText;
                        padding-left:10%;
                        font-family: 'FontAwesome';
                        content:@fa-var-power-off;
                        font-size:40px;
                    }
                    &>div{
                        &>ul{
                            position:absolute;
                            top:95%;
                        }
                        height:100%;
                        width:100%;
                    }
                }
            }
            &>span#subTitle{
                font-weight: bold;
                vertical-align: middle;
                display: inline-block;
                height: 100%;
                font-size: 32px;
            }
        }
    }
    
    &>.spacer{
        display:inline-block;
        width:98%;
        min-height:calc(~'100% - 85px');
        margin-top:50px;
        margin-bottom:30px;
        box-shadow:0 0 20px 3px @highlightColor inset;
        background:@contentBG;
        border:1px solid black;
        border-radius:20px;
        box-sizing:border-box;
        padding:10px;
        &>#mainContainer{
            min-height:100%;
            width:100%;
            
            &>div#middlePane{
                display:table;
                min-height:100%;
                color:@textColor;
                &>div{
                    display:table-cell;
                }
                #leftPane{
                    width:205px;
                    &>div{
                        &>ul{
                            visibility:visible;
                            opacity:1;
                        }
                    }
                }
                #contentPane{
                    width:100%;
                    height:100%;
                    text-align:left;
                    &>div{
                        padding:3px;
                        margin-bottom:10px;
                    }
                }
                #rightPane{
                    display: none;
                }
            }
        }
    } 
    & #bottomPane{
        visibility:visible;
        width:100%;
        background:@bottomBG;
        border-top:2px solid black;
        margin-top:-26px;
        &>div{
            &>a{
                width:33%;
                display:inline-block;
                text-decoration:none;
                border-width:1px 1px 0 1px;
                padding-top:3px;
                border-style:solid;
                border-color:@textColor;
                color:@textColor;
                margin-right: -5px;
                box-sizing:border-box;
                &+a{
                    width:33.5%;
                    &:last-child{
                        margin-right:0;
                    }
                }
                &:hover{
                    border-top-width:3px;
                    border-top-color:@highlightColor;
                    margin-top:-3px;
                    //text-shadow:0 0 1px, 0 0 1px, 0 0 1px;
                }
                &:visited{
                    color:@textColor;
                }
            }
        }
    }
    &.mobile{
        &>.spacer{
            width:100%;
        }
        #leftPane,#rightPane{
            display:none;
        }
    }
}
