@import "theme.less";
.MenuNode{
    &:hover>div>ul,&:focus>div>ul{visibility:visible;}
    &>div{
        position:absolute;
        top:100%;
        width:100%;
        height:100%;
    }
    ul.resMenu{
        background:@headerBG;
        color:@headerText;
        text-align:left;
        padding-left:5px;
        margin:0;
        width:200px;
        //visibility:hidden;
        li{
            list-style:none;
            position:relative;
            left:-5px;
            line-height:25px;
            width:100%;
            padding-left:5px;
            border-bottom-width:1px;
            border-bottom-style:solid;
            border-bottom-color:@highlightColor;
            &>span.flyout{
                position:absolute;
                right:0;
                padding-right:5px;
                height:25px;
                width:25px;
                display:inline-block;
                &>svg>path{
                    fill:@highlightColor;
                    stroke:@highlightColor;
                }
                &:focus+ul{visibility:visible;}
            }
            &:hover, &:focus{
                //background:@highlightColor;
                box-shadow:0 0 20px 3px @highlightColor inset;
                color:@hoverText;
                &>ul{visibility:visible;}
            }
            &>ul{visibility:hidden;position:absolute; top:0; left:100%;}
            &>span{cursor:pointer;}
        }
    }
}