@import "theme.less";

.MenuNode{
    &:hover,&:focus{
        &>div>ul{visibility:visible;opacity:1;}
        &:before{color:@headerText;}
    }
    ul.resMenu{
        color:@headerText;
        text-align:left;
        padding-left:5px;
        margin:0;
        width:200px;
        visibility:hidden;
        font:menu;
        -webkit-transition: visibility .5s ease, opacity .5s ease; /* Safari and Chrome */
        transition: visibility .5s ease, opacity .5s ease;
        opacity: 0;
        li{
            -webkit-transition: box-shadow .25s ease; /* Safari and Chrome */
            transition: box-shadow .25s ease;
            background:@headerBG;
            list-style:none;
            cursor:pointer;
            position:relative;
            left:-5px;
            line-height:25px;
            width:100%;
            padding: 3px 0 3px 5px;
            box-sizing: border-box;
            color:@headerText;
            border:0 solid @highlightColor;
            border-bottom-width:1px;
            
            &.Fitness, 
            &.Fitness li{
                border-left-color:@fitness-main-color;
            }
            &.Gaming,
            &.Gaming li{
                border-left-color:@gaming-main-color;
            }
            &.Wedding,
            &.Wedding li{
                border-left-color:@wedding-main-color;
            }
            
            &.Home,
            &.Home li{
                border-left-color:@home-main-color;
            }
            
            &>span.flyout{
                position:absolute;
                right:0;
                padding-right:5px;
                height:25px;
                width:25px;
                display:inline-block;
                &:before{
                    font-family: 'FontAwesome';
                    padding-left:15px;
                    content:@fa-var-angle-right;
                }
            }
            &:hover, &:focus{
                @_offset:3px;
                background:@headerBG;
                border-left-width:@_offset;
                padding-left:5px - @_offset;
                &>span{
                    color:@headerText;
                    text-shadow:none;
                    background: none;
                    -webkit-background-clip: initial;
                    -webkit-text-fill-color: initial;
                    &.flyout:before{
                        content:@fa-var-chevron-right;
                    }
                }
                color:@hoverText;
                &>ul{visibility:visible;opacity:1;}
            }
            &>ul{position:absolute; top:0; left:100%;}
            &>span{
                white-space: nowrap;
                font-weight:bold;
                -webkit-transition: text-shadow .25s ease; /* Safari and Chrome */
                transition: text-shadow .25s ease;
                text-shadow: 0px 0px 10px @highlightColor;
                /*background: -webkit-linear-gradient(  @hoverText, @headerText);*/
                -webkit-background-clip: text;
            }
        }
    }
}